SOMNIA_RPC_URL=https://dream-rpc.somnia.network
SOMNIA_CHAIN_ID=50312
SOMNIA_EXPLORER_URL=https://somnia-testnet.socialscan.io
SOMNIA_SHANNON_EXPLORER_URL=https://shannon-explorer.somnia.network
PRIVATE_KEY=0xYOUR_DEPLOYER_PRIVATE_KEY
SOMNIA_AGENT_PLATFORM=
SOMNIA_RISK_AGENT_ID=0
